/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require jquery.datetimepicker
 *= require font-awesome
 *= require bootstrap-material-design
 *= require_tree .
 */

.btn-primary:not(.btn-link):not(.btn-flat) {
    background-color: #42f4d4;
}

.fa-search {
    color: #42f4d4;
}

div.field_with_errors {
    display:inline;
}

.ui-autocomplete {
    width: 1em;
    max-height: 10em;
    overflow-y: auto;
}

li.ui-menu-item {
    font-size: 10px;
}

