<table>

  <tr>
    <td>Aircraft Model</td>
    <td>Tail Number</td>
  </tr>


  <% @logentries.each do |le| %>  
  <tr>
    <td><%= le.aircraft_model %></td>
    <td><%= le.tail_number %></td>
  </tr>
  <% end %>

</table>
