<!DOCTYPE html>
<html>
<head>
  <title>FlightLogger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="/log_entries/new" class="button">New Log Entry</a>
<%= yield %>
</body>
</html>
